body, html{
    font-family: 'Roboto', sans-serif;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease-out 2.s;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: #000;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 4px #F7B0AA;
}

#slider h1{
    text-transform:uppercase;
    font-weight: 900;
}

#slider h4{
    font-size: 18px;
    text-transform: uppercase;
}

#filmes a.destaque{
    display: block;
    background-color: #DEB18B;
    border-radius: 5px;
    padding: 25px;
    color: black;
    text-decoration: none;
    transition: all ease-out 2.s;
}

#filmes a.destaque:hover{

    background: var(--primary);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.12);
    transform: scale(1.05);
}

#filmes a.destaque .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#filmes a.destaque .img-container img{
    max-height: 180px;
}




